*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Gentium Book Basic', serif;
}

:root {
    --midnight-blue: #41729F;
    --blue-gray: #5885AF;
    --dark-blue: #274472;
    --baby-blue: #C3E0E5;
    --complete-book: #499f41;
    --on-hold-book: #8e9f41;
    --reading-book: #419f7b;
    --dropped-book: #9f4141;
}

body {
    /* background-image: url(./imgs/BookShop.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--baby-blue);


}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-gray);
}

.content-section {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around */
    flex-wrap: wrap;
    height: 100vh;
    width: 75%;
    border-radius: 5px;
}

.content-section div{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 1em;
    
    height: 300px;
}

.content-section p{
    margin: 0.5em;
}



.complete-book{
    color: white;
    background-color: var(--complete-book);
}

.on-hold-book{
    color: white;

    background-color: var(--on-hold-book);
}

.reading-book{
    color: white;

    background-color: var(--reading-book);
}

.dropped-book{
    color: white;
    background-color: var(--dropped-book);
}

/* .complete-book,
.on-hold-book,
.reading-book,
.dropped-book{
    
    width: 250px;
    height: 150px; 
}
    */


.new-book-form {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    /* opacity: */
    background-color: rgba(0, 0, 0, 0.8);
    /* top: 10em;
    position: sticky; */
    border: 1px solid black;
    height: 100vh;
    width: 100vw
}

.final-form {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--baby-blue);
    border-radius: 5px;
    box-shadow: 0 0 5px;
}

.form-title {
    font-style: italic;
    margin: 1em;
    padding: 0;
}


#book-name,
#book-author,
#book-pages,
#read-status {
    /* top right bottom left */
    /* margin: 0.5em 1em 0.5em 1em; */
    padding: 0.25em;
    width: 350px;
}

.final-form input,
#read-status,
.bottom-buttons button {
    font-size: 24px;
    border-radius: 5px;
    border: none;
    color: var(--dark-blue)
}

.final-form p,
.final-form input,
#read-status,
.bottom-buttons button {
    margin: 0.25em 1em 0.5em 1em;
}



.bottom-buttons button {
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid var(--blue-gray);
}


.add-new-book-container{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1em 1em 0;
}

.show-form-button{
    background-color: var(--blue-gray);
    color: var(--baby-blue);
    font-size: 48px;
    height: 100px;
    width: 100px;
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
}



header,
h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    background-color: var(--midnight-blue)
}


.bottom-buttons button:hover {
    background-color: var(--blue-gray);
    color: var(--baby-blue);
    border: 2px solid white;
}